 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#full {
  h1 {
    text-align: center;
  }
}

#blogPosts {
  width: 75%;
  margin: 0 auto;
  form {
    text-align: center;
    #postTitle {
      width: 60%;
      border: none;
      outline: none;
      background-color: HSLA(0, 0%, 98%, 1);
      font-weight: bold;
      font-size: 25px;
      padding-bottom: 10px;
    }
    textarea {
      max-width: 60%;
      width: 60%;
      border: none;
      outline: none;
      background-color: HSLA(0, 0%, 98%, 1);
      height: 300px;
    }
    #postTag {
      width: 60%;
      border: none;
      outline: none;
      background-color: HSLA(0, 0%, 98%, 1);
    }
  }
}
