 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#full {
  h1 {
    text-align: center;
    color: black;
    text-decoration: none;
  }
}

li {
  list-style-type: none;
}

#blogPosts {
  width: 60%;
  padding: 15px;
  margin-right: 170px;
  float: right;
  #addPost, #editPost {
    text-align: center;
    #postTitle, #update_title {
      width: 60%;
      border: none;
      outline: none;
      background-color: HSLA(0, 0%, 98%, 1);
      font-weight: bold;
      font-size: 25px;
      padding-bottom: 10px;
    }
    #postAuthor, #update_author {
      border: none;
      outline: none;
      background-color: HSLA(0, 0%, 98%, 1);
    }
    #postContent, #update_content {
      max-width: 60%;
      width: 60%;
      border: none;
      outline: none;
      background-color: HSLA(0, 0%, 98%, 1);
      height: 300px;
    }
    #postTag, #update_tag {
      width: 60%;
      border: none;
      outline: none;
      background-color: HSLA(0, 0%, 98%, 1);
    }
  }
}


aside {
  width: 25%;
  float: left;
}
.header {
  border-top: 1px solid hsla(221,16%,61%,0.5);

}
