 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#full {
  img {
    display: block;
    margin: 0 auto;
    width: 40%;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
}

#blogPosts {
  width: 60%;
  padding: 15px;
  margin-right: 170px;
  float: right;
  a {
    text-decoration: none;
    color: HSLA(0, 0%, 40%, 1);
  }
  #addPost, #editPost {
    text-align: center;
    }
    #postTitle, #update_title {
      width: 60%;
      border: none;
      outline: none;
      background-color: HSLA(0, 0%, 98%, 1);
      font-weight: bold;
      font-size: 25px;
      padding-bottom: 10px;
    }
    #postAuthor, #update_author {
      border: none;
      outline: none;
      background-color: HSLA(0, 0%, 98%, 1);
    }
    #postContent, #update_content {
      max-width: 60%;
      width: 60%;
      border: none;
      outline: none;
      background-color: HSLA(0, 0%, 98%, 1);
      height: 300px;
    }
    #postTag, #update_tag {
      width: 60%;
      border: none;
      outline: none;
      background-color: HSLA(0, 0%, 98%, 1);
    }
    #postDraft {
      display: none;
    }
  }

.public_blog_posts, .blog_posts {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  .header-title {
    float: left;
    width: 75%;
    font-weight: bolder;
    margin-top: 10px;
  }
  .header-author {
    float: right;
    margin-top: 12px;
  }
  .content {
    display: inline-block;
    overflow: hidden;
    margin-top: 7px;
    height: 20px;
    width: 75%;
  }
  .tags{
    display: inline-block;
    margin: 3px 0 5px 0;
    width: 75%;
  }
  .draft {
    display: inline-block;
    float: right;
    color: red;
    font-weight: bolder;
  }
}

aside {
  width: 25%;
  float: left;
}

.header {
  border-top: 1px solid hsla(221,16%,61%,0.5);
}

 button {
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  color: black;
  border-radius: 7px;
  text-shadow: 1px 1px 1px 1px white;
  outline: none;

  &:hover {
    background-color: hsla(24,56%,52%,1);
    color: white;

  }
}
